.back-home {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -5rem;
  top: 0px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: solid 2px #ffffff;
  padding: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 20px;
}

.back-home:hover {
  -webkit-transition: background-color .3s ease .4s;
  transition: background-color .3s ease .4s;
  background-color: rgba(255, 255, 255, 0.1);
}

.back-home:hover > .svg-home {
  fill-opacity: 1;
  stroke-dashoffset: 263.893782901543;
  -webkit-transition: stroke-dashoffset .4s ease, fill-opacity .2s ease .4s;
  transition: stroke-dashoffset .4s ease, fill-opacity .2s ease .4s;
}

.back-home .svg-home {
  fill: #ffffff;
  fill-opacity: 0;
  height: 40px;
  width: 40px;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-dasharray: 263.893782901543;
  -webkit-transition: stroke-dashoffset .4s ease .2s, fill-opacity .2s ease;
  transition: stroke-dashoffset .4s ease .2s, fill-opacity .2s ease;
}
