.h-m {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.h-m .score-count {
  font-size: 1.5em;
}
