@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@515&display=swap");
:root {
  --player-x-hue: #F9D56E;
  --player-o-hue: #E8505B;
  --main-bckg-hue: #3b5378;
  --grid-o-hue: #6E626F;
  --grid-x-hue: #738975;
}

/* Normalize style document */
/* This document edit pre-defined CSS style*/
/* © Milan Štiglic*/
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
}

html {
  font-size: 100%;
}

input:focus,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.column,
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bs-padd {
  padding: 30px;
}

.bs-padd-sd {
  padding: 0 30px 0 30px;
}

.justify-right,
.justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-left,
.justify-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.align-bottom,
.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-top,
.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.w-100 {
  width: 100%;
}

/* FONTS size fromat document */
/* © Milan Štiglic*/
.size-2px {
  font-size: 2px;
}

.size-4px {
  font-size: 4px;
}

.size-6px {
  font-size: 6px;
}

.size-8px {
  font-size: 8px;
}

.size-10px {
  font-size: 10px;
}

.size-12px,
.basic-size {
  font-size: 12px;
}

.size-14px {
  font-size: 14px;
}

.size-16px {
  font-size: 16px;
}

.size-18px {
  font-size: 18px;
}

.size-20px,
.footer-h-size {
  font-size: 20px;
}

.size-22px {
  font-size: 22px;
}

.size-24px {
  font-size: 24px;
}

.size-26px {
  font-size: 26px;
}

.size-28px {
  font-size: 28px;
}

.size-30px {
  font-size: 30px;
}

.size-32px,
.medium-size {
  font-size: 32px;
}

.size-34px {
  font-size: 34px;
}

.size-36px {
  font-size: 36px;
}

.size-38px {
  font-size: 38px;
}

.size-40px {
  font-size: 40px;
}

.size-42px {
  font-size: 42px;
}

.size-44px {
  font-size: 44px;
}

.size-46px {
  font-size: 46px;
}

.size-48px {
  font-size: 48px;
}

.size-50px {
  font-size: 50px;
}

.size-52px {
  font-size: 52px;
}

.size-54px {
  font-size: 54px;
}

.size-56px,
.header-size {
  font-size: 56px;
}

.size-58px {
  font-size: 58px;
}

.size-60px {
  font-size: 60px;
}

.size-62px {
  font-size: 62px;
}

.size-64px {
  font-size: 64px;
}

.size-66px {
  font-size: 66px;
}

.size-68px {
  font-size: 68px;
}

.size-70px {
  font-size: 70px;
}

.size-72px,
.large-size {
  font-size: 72px;
}

.size-74px {
  font-size: 74px;
}

.size-76px {
  font-size: 76px;
}

.size-78px {
  font-size: 78px;
}

.size-80px {
  font-size: 80px;
}

.size-82px {
  font-size: 82px;
}

.size-84px {
  font-size: 84px;
}

.size-86px {
  font-size: 86px;
}

.size-88px {
  font-size: 88px;
}

.size-90px {
  font-size: 90px;
}

.size-95px {
  font-size: 95px;
}

.size-100px {
  font-size: 100px;
}

.size-110px {
  font-size: 110px;
}

.size-120px {
  font-size: 120px;
}

.size-130px {
  font-size: 130px;
}

.size-140px {
  font-size: 140px;
}

.size-150px {
  font-size: 150px;
}

.size-160px {
  font-size: 160px;
}

.size-170px {
  font-size: 170px;
}

.size-180px {
  font-size: 180px;
}

.size-190px {
  font-size: 190px;
}

.size-200px,
.huge-size {
  font-size: 200px;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-bckg-hue);
}

body #__root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.upper {
  text-transform: uppercase;
}

.blockquote {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.b {
  font-weight: 700;
}

.pop-up:active {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.m-p {
  cursor: pointer;
}

.sl-t-b {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.sl-t-b::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sl-t-b:hover::after {
  top: 0;
  height: 100%;
}

.freez-bckg {
  position: absolute;
  z-index: 900;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bckg-darken {
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-window {
  width: 40%;
  height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  background-color: var(--main-bckg-hue);
  border: solid 3px;
  padding: 2rem;
}

.br-sm {
  border-radius: 10px;
}

.c-btn {
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  width: 40%;
  cursor: pointer;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.negative-btn {
  border: solid 3px #E8505B;
  color: #E8505B;
  border-radius: 2rem;
}

.negative-btn::after {
  background-color: #E8505B;
}

.negative-btn:hover {
  color: var(--main-bckg-hue);
}

.positive-btn {
  border: solid 3px #50e858;
  border-radius: 2rem;
  color: #50e858;
}

.positive-btn::after {
  background-color: #50e858;
}

.positive-btn:hover {
  color: var(--main-bckg-hue);
}

hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  overflow: hidden;
  border-style: none;
  border-width: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.txt-O {
  color: var(--player-o-hue);
}

.txt-X {
  color: var(--player-x-hue);
}

.border-X {
  border-color: var(--player-x-hue);
}

.border-O {
  border-color: var(--player-o-hue);
}

#__root {
  padding: 0 !important;
}

.game-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-wrapper .playfield {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 60% auto;
      grid-template-columns: auto 60% auto;
}

.p-O__txt {
  color: var(--player-o-hue);
}

.p-O__txt .ws-pn {
  color: var(--player-o-hue);
}

.p-O__bcg {
  background-color: var(--player-o-hue);
}

.p-O__bcg .ws-pn {
  background-color: var(--player-o-hue);
}

.p-X__txt {
  color: var(--player-x-hue);
}

.p-X__txt .ws-pn {
  color: var(--player-x-hue);
}

.player-O .turn-D-box .turner-name {
  border-color: var(--player-o-hue);
}

.player-O .turn-D-box .turner {
  color: var(--player-o-hue);
  border-color: var(--player-o-hue);
}

.player-O .turn-D-box .turner::before {
  content: "O ";
}

.player-O .plyr-box:hover {
  background-color: var(--player-o-hue);
}

.player-X .turn-D-box .turner-name {
  border-color: var(--player-x-hue);
}

.player-X .turn-D-box .turner {
  color: var(--player-x-hue);
  border-color: var(--player-x-hue);
}

.player-X .turn-D-box .turner::before {
  content: "X ";
}

.player-X .plyr-box:hover {
  background-color: var(--player-x-hue);
}

.menu-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.menu-cont .menu-logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  padding: 0 1em .5rem 1em;
}

.menu-cont .menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 460px;
  width: 390px;
  position: relative;
}

.menu-cont .menu-row_title {
  font-size: 2.5em;
  border-bottom: solid 5px #ffffff;
  display: inline-block;
  padding: 0 .8em .8rem .8em;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-cont .menu-row_action {
  font-size: 24px;
  width: 100%;
  position: relative;
}

.menu-cont .menu-row_footer {
  border-top: solid 1px #fff;
  display: inline-block;
  padding: .5rem 5rem 0 5rem;
  width: 100%;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}
