@import './../../../../style/scss/mixins';
.ws-box {
    display: flex;
    justify-content: center;
    align-items: center;
    @include border("bottom");
    .ws-gc {
        font-size: 20px;
    }
    .ws-pn {
        font-size: 24px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    &:not(:first-child) {
        margin-top: 2rem;
    }
}