@import './../../../../style/scss/mixins';
$border-preset: solid 2px rgba(#ffffff, .5);
.plyr-box {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    @include grid-border("all", $border-preset);
    position: relative;
    z-index: 1;
    &:hover {
        position: relative;
        z-index: 2;
        transition: transform .3s;
        transform: scale(1.1);
        background-color: var(--grid-o-hue);
    }
}