@import './../../../style/scss/mixins';
.turn-D-box {
    @include border("right");
    display: flex;
    justify-content: center;
    align-items: center;
    .turner {
        padding: 1rem 4em;
        font-size: 24px;
        border-radius: 1000px;
        border-width: 2px;
        border-style: solid;
        user-select: none;
        &::before {
            font-weight: 700;
        }
    }
    .turner-name {
        padding: .5em 1.5em;
        margin-bottom: 1em;
        @include border("left");
        @include border("right");
    }
}