.debug-1 {
    background-color: red;
}

.debug-2 {
    background-color: blue;
}

.debug-3 {
    background-color: green;
}

.plyr-box:active {
    background-color: var(--player-o-hue);
}