@charset "UTF-8";

/* FONTS size fromat document */


/* © Milan Štiglic*/

.size-2px {
    font-size: 2px;
}

.size-4px {
    font-size: 4px;
}

.size-6px {
    font-size: 6px;
}

.size-8px {
    font-size: 8px;
}

.size-10px {
    font-size: 10px;
}

.size-12px,
.basic-size {
    font-size: 12px;
}

.size-14px {
    font-size: 14px;
}

.size-16px {
    font-size: 16px;
}

.size-18px {
    font-size: 18px;
}

.size-20px,
.footer-h-size {
    font-size: 20px;
}

.size-22px {
    font-size: 22px;
}

.size-24px {
    font-size: 24px;
}

.size-26px {
    font-size: 26px;
}

.size-28px {
    font-size: 28px;
}

.size-30px {
    font-size: 30px;
}

.size-32px,
.medium-size {
    font-size: 32px;
}

.size-34px {
    font-size: 34px;
}

.size-36px {
    font-size: 36px;
}

.size-38px {
    font-size: 38px;
}

.size-40px {
    font-size: 40px;
}

.size-42px {
    font-size: 42px;
}

.size-44px {
    font-size: 44px;
}

.size-46px {
    font-size: 46px;
}

.size-48px {
    font-size: 48px;
}

.size-50px {
    font-size: 50px;
}

.size-52px {
    font-size: 52px;
}

.size-54px {
    font-size: 54px;
}

.size-56px,
.header-size {
    font-size: 56px;
}

.size-58px {
    font-size: 58px;
}

.size-60px {
    font-size: 60px;
}

.size-62px {
    font-size: 62px;
}

.size-64px {
    font-size: 64px;
}

.size-66px {
    font-size: 66px;
}

.size-68px {
    font-size: 68px;
}

.size-70px {
    font-size: 70px;
}

.size-72px,
.large-size {
    font-size: 72px;
}

.size-74px {
    font-size: 74px;
}

.size-76px {
    font-size: 76px;
}

.size-78px {
    font-size: 78px;
}

.size-80px {
    font-size: 80px;
}

.size-82px {
    font-size: 82px;
}

.size-84px {
    font-size: 84px;
}

.size-86px {
    font-size: 86px;
}

.size-88px {
    font-size: 88px;
}

.size-90px {
    font-size: 90px;
}

.size-95px {
    font-size: 95px;
}

.size-100px {
    font-size: 100px;
}

.size-110px {
    font-size: 110px;
}

.size-120px {
    font-size: 120px;
}

.size-130px {
    font-size: 130px;
}

.size-140px {
    font-size: 140px;
}

.size-150px {
    font-size: 150px;
}

.size-160px {
    font-size: 160px;
}

.size-170px {
    font-size: 170px;
}

.size-180px {
    font-size: 180px;
}

.size-190px {
    font-size: 190px;
}

.size-200px,
.huge-size {
    font-size: 200px;
}