// Menu 
.menu-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .menu-logo {
        user-select: none;
        position: absolute;
        top: 0;
        color: #fff;
        font-weight: bold;
        font-size: 5em;
        padding: 0 1em .5rem 1em;
    }
    .menu-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 460px;
        width: 390px;
        position: relative;
        &_title {
            font-size: 2.5em;
            border-bottom: solid 5px #ffffff;
            display: inline-block;
            padding: 0 .8em .8rem .8em;
            transition: .3s;
        }
        &_action {
            font-size: 24px;
            width: 100%;
            position: relative;
        }
        &_footer {
            border-top: solid 1px #fff;
            display: inline-block;
            padding: .5rem 5rem 0 5rem;
            width: 100%;
            text-align: center;
            transition: .3s;
        }
    }
}